<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> 푸터영역 </title>
</head>

<!-- footerFragment 선언 -->
<th:block th:fragment="footerFragment">
    <footer class="footer">


        <div class="footer-top">
            <div class="map" id="fmap"></div>

            <div class="footer-top-container">
                <div class="intro-box">
                    <h1>SMALL WAXING</h1>
                    <h3>The Standard of Waxing, Small Waxing</h3>
                    <a>예제왁싱은 '기본'으로 '완벽'에 도달합니다.<br>
                        보드럽고 깨끗한 피부, 예제왁싱에서 시작하세요. </a>
                </div>

                <div class="info-box">
                    <div class="info-box-item">
                        <h3>Shop</h3>
                        <a>예제왁싱</a>
                    </div>
                    <div class="info-box-item">
                        <h3>Tel</h3>
                        <a>02-9085-5391</a>
                    </div>
                    <div class="info-box-item">
                        <h3>Contact</h3>
                        <a>평일: am10:00 ~ 20:30(야)<br>
                            주말: am10:00 ~ 16:30(주)<br><br>
                            *예약없을 시 조기마감<br></a>
                    </div>
                    <div class="info-box-item">
                        <h3>Address</h3>
                        <a>서울특별시 강남구 테헤란로 123 예제왁싱 강남점</a>
                    </div>
                </div>
                <div class="footer-nav">
                    <div class="nav-item">
                        <a href="#">예제왁싱</a>
                        <a th:href="@{/reservation}">온라인예약</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="footer-bottom-link">
                <a th:href="@{/terms}">이용약관</a>
                <a th:href="@{/privacy}">개인정보처리방침</a>
            </div>
            <div class="footer-bottom-item">
                <a>상호명 : 예제왁싱 ㅣ Tel. 010-9587-8702 ㅣ 대표 : 홍길동</a>
                <a> 주소 : 서울특별시 강남구 테헤란로 123 예제왁싱 강남점 </a>
                <a>Copyright(c) 2025 SMALL WAXING. All rights reserved.</a>
            </div>

        </div>

    </footer>
</th:block>
<!-- footerFragment 선언 -->
</html>
